.in-quantity{
    width: 30px;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.x-btn{
    background-color: whitesmoke;
    color: red;
    border: none;
}

@media(max-width: 720px){
    .big-only{
        display: none;
    }
}