.about{
    padding-right: 280px;
    padding-left: 280px;
    background-color: rgb(223, 205, 181);
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;

}
.about-items{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.about-imgs{
    height: 500px;
    width: auto;
    background-position: center;
    background-size: cover;
    margin: 20px;
    box-shadow: grey 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-img-wide{
    height: 400px;
    width: auto;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p5{
    margin-bottom: 40px;
}