.checkout{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    /* padding: 20px; */
}

.Pay{
    background: none;
    box-shadow: none;
    margin-bottom: 60px; 
  
    margin-left: 0;
}
.pay-form{
    margin: 40px 40px 40px 40px;
    width: 60%;
    
}
.btn-purchase{
    cursor: pointer;
    background-color: #5cb85c;
    border: 1px solid  #5cb85c;
    border-radius: 3px;
    color: white;
    height: 40px;
    width: 260px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px;
}
.btn-purchase:hover{
    color: black;
}
.order-summary{
    border-bottom: 1px solid darkgrey;
    padding: 10px;
}

.summary-container{
    background-color: whitesmoke;
    height: 100%;
    width: 30%;
    position: absolute;
    right: 0px;
    padding: 20px;
    margin-left: 50px
}

.name-price{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 10px;
}
.total{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 15px 30px ;
}
.sum-cont{
    border-bottom: 1px solid darkgrey;
    padding: 10px;
}

@media(min-width: 760px){
    .grand-total{
        display: none;
    }
}

@media(max-width: 760px){
    .summary-container{
     display: none;
    }
    .pay-form{
        width: 90%;
        margin-top: 50px;
    }
    .checkout{
        justify-content: center;
    }
    .grand-total{
        position: absolute;
        color: black;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        justify-items: center;
        margin-top:10px;
    }
}
@media(max-width: 425px){
    .pay-form{
        margin-top: 50px;
        margin-bottom: 250px;
    }
}
@media(max-width: 420px){
    .pay-form{
        margin-top: 170px;
        margin-bottom: 250px;
    }
    .grand-total{
        position: absolute;
        color: black;
        font-size: 20px;
        font-weight: 700;

        margin-top:130px;
        margin-bottom: 40px;
    }
}

@media(max-width: 325px){
    .pay-form{

        width: 80%
    }
    .btn-purchase{
        width: 225px;
    }
}