
.home-body{
    height: 100%;
    min-width: 100%;
    background-image: url('https://secure-akns.subaru.com/content/media/mp_fullscreen_1920/19_OBK_photos_ext_05.jpg');
    background-position: center;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
}
.picker-frame{
justify-content: center;
align-items: center;
position: static;
top:2%;
left:6%;
margin-bottom: 90px;
margin-top: 190px;
z-index: 2;
}

.vehicle-picker{
    height: 230px;
    width: 88vw;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .85;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center; */
    /* justify-content: flex-start;  */
}

.dropdown{
    cursor: pointer;
    /* background-color: #505050; */
    background-color: rgb(0, 0, 0);
    border: black;
    color: white;
    height: 60px;
    width: 300px;
    font-weight: 700;
    font-size: 26px;
    border-radius: 5px;
    margin: 30px;
}
.featured-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.products{
    height: 300px;
    width: auto;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
}

@media (max-width:1240px){
    .dropdown{
        cursor: pointer;
        background-color: rgb(0, 0, 0);
        border: black;
        color: white;
        height: 60px;
        width: 200px;
        font-weight: 700;
        font-size: 26px;
        border-radius: 5px;
        margin: 30px;
    }
}

@media (max-width:900px){
    .dropdown{
        cursor: pointer;
        background-color: rgb(0, 0, 0);
        border: black;
        color: white;
        height: 60px;
        width: 300px;
        font-weight: 700;
        font-size: 26px;
        border-radius: 5px;
        margin: 30px;
    }

    .vehicle-picker{
        height: 480px;
        width: 80vw;
        /* background-color: whitesmoke;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: .85; */
    }

    .picker-frame{
        justify-content: center;
        align-items: center;
        position: sticky;
        top:10%;
        left:6%;
        margin-bottom: 90px;
        margin-top: 90px;
        z-index: 2;
        }
        
}

@media (max-width:460px){
    .dropdown{
        cursor: pointer;
        background-color: rgb(0, 0, 0);
        border: black;
        color: white;
        height: 60px;
        width: 200px;
        font-weight: 700;
        font-size: 26px;
        border-radius: 5px;
        margin: 30px;
    }

    .vehicle-picker{
        height: 480px;
        width: 80vw;
        /* background-color: whitesmoke;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: .85; */
    }
    .products{
        height: 250px;
        width: auto;
        background-color: whitesmoke;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0px;
    }
    
}

@media(max-width:375px){
    .vehicle-picker{
        height: 520px;
        width: 80vw;
        /* background-color: whitesmoke;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: .85; */
    }
}