.selected-container{
    font-size: 18px;
    font-weight: 600px;

}

.selected{
    color: tomato;
    font-size: 22px;
}
.selected:hover{
    color: tomato;
    cursor: default;
}

.clicker-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clickers{
    font-size: 25px;
    margin-top: 15px;
    color: black;
    margin: 30px;
}

.clickers:hover{
    cursor: pointer;
    color: blue;
}

.btn-clear{
    cursor: pointer;
    background-color: white;
    border: black 1px solid;
    color: black;
    height: 40px;
    width: 120px;
    font-weight: 700;
    border-radius: 5px;

}

.btn-save{
    cursor: pointer;
    background-color: #386db3;
    border: #428bca;
    color: white;
    height: 40px;
    width: 120px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
}