.footer-nav{
    display: flex;
    flex-direction: row;
    height: 55px;
    min-width: 100vw;
    background-color:  #252525;
    color: white;
    position: fixed;
    bottom: 0px;
    z-index: 200;
}


/* .footer-nav-links{
    position: fixed;
    right: 10px;
} */

.icons{
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline #252525;
}
.icons:hover {
    cursor: pointer;
    text-decoration: underline #252525;
}


.fas{

    color: rgb(218, 184, 32);
    font-weight: 600;
    size: 8x;
    margin: 15px 10px;
}

.fas:hover {
    color: rgb(218, 184, 32)   
}

#parts-icon{
    color: rgb(218, 184, 32) ; 
}



/* .menu{
    position: absolute;
    right: 10px;
} */


@media(min-width:760px){
    .footer-nav{
        display: none;
  
    }

    .fas{
        display: none;
    }

    #parts-icon{
        display: none;
    }
}