.bottom-nav{
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 100vw;
    background-color:  #252525;
    font-size: 16px;
    color: white;
    position: sticky;
    top: 75px;
    z-index: 100;
}


.nav-links{
    display: flex;
    flex-direction: row; 
}

span{
    color: white;
}
span:hover {
    color: #428bca;
    cursor: pointer;
}

.selected-v{
    position: absolute;
    right: 45px;
    top: 12px;
    color: rgb(218, 184, 32);
    font-weight: 600
}

.selected-v:hover{
    cursor: pointer;
}

.fa-car{
    position: absolute;
    right: 25px;
    top: 16px;
    color: rgb(218, 184, 32);
    font-weight: 600
}

/* .part-link:hover{
    cursor: pointer;
} */

@media(max-width:760px){
    .nav-links{
        display: none;
    }
}

@media(max-width:420px){
    .bottom-nav{
        height: 75px;
        top: 50px;
    }
    .fa-car{
        display: none;
    }
    
}