.auth-body{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    margin: 50px;
}

.form-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.form{
    background-color: whitesmoke;
    margin: 15px;
    padding: 50px 100px 50px 100px;
    align-items: center;
}


input{
    width: 400px;
    border: 1px solid #dadada;
    border-radius: 3px;
}

.login{
    cursor: pointer;
    background-color: #5cb85c;
    border: 1px solid  #5cb85c;
    border-radius: 3px;
    color: white;
    height: 40px;
    width: 400px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 12px;
}

.register{
    cursor: pointer;
    background-color: #386db3;
    border: 1px solid  #386db3;
    border-radius: 3px;
    color: white;
    height: 40px;
    width: 400px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 12px;
}

.fa-user{
    color: white
}

@media(max-width: 760px){

  .form{
    width: auto;
    padding: 0px;
    background-color: white;
  }
  .form-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
}

  input{
    width: auto;
  }
  .btn{
    width: 170px;
  }
}